<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>支付失败</title>

    <link href="/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="gwc" style=" margin:auto;">
    <form action="/alipay/alipage" method="post">
        <h1>付款失败</h1>
        <table cellpadding="0" cellspacing="0" class="gwc_tb2">
            <tr>
                <td class="tb1_td3">商品照片</td>
                <td class="tb1_td3">商品</td>
                <td class="tb1_td4">商品信息</td>
                <td class="tb1_td6">单价</td>
            </tr>
            <tr>
                <td class="tb2_td2"><a href="#"><img src="/images/iphone.png"/></a></td>
                <td class="tb1_td4">IPhoneXSMax</td>
                <td class="tb1_td4">一件</td>
                <td class="tb1_td4">RMB9588</td>
            </tr>
            <tr>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
